@import "tailwindcss";
*{
    color: #fff;
}
body{
    background-color: #111;
}

#tasklist::-webkit-scrollbar{
    display: none;
}
.hidden-scrollbar {
  overflow: auto; /* enable scrolling */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}/* Hide scrollbar but allow scroll */


.scrollbar-hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}